* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --principalColor: #3F7C85;
    --secondColor: #5C7373; 
    --clarityColor: #B7BF99;
    --markColor: #FCB900;
    --softMarkColor: #FFCB70;
}

a {
    text-decoration: none;
    color: rgb(41, 41, 41);
}

header {
    display: flex;
    padding: 15px 20px;
}

header .logo-header h1 {
    font-family: "Quicksand", sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
}

.mark-title-header {
    font-weight: normal;
    color: var(--principalColor);
}